.idea/
/wp-content/themes/twentyfifteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentysixteen/
/wp-content/themes/consult_plus/node_modules/
/wp-content/themes/consult_plus/bower_components/

