$banner-height: 800px;

$industry-blocks-maw: 1140px;
$boot-cont-w:1170px;

$industry-block-maw: 262px;

$mont-font: 'Montserrat', sans-serif;
$domine-font: 'Domine', serif;
$menu-font-color: #e2e2e2;
$menu-font-color-hover: #ffac55;

$def-header-color: #343a3b;
$blue-color: #03b6e7;
$hover-color: #f6961b;
$carousel-active-color: #16d428;
$stripe-color: #565d5d;
$bgn-btn-color: #ffac56;
$brd-color: #dae5e8;
$hr-color: #e7eff1;
$section-fill-color:#fffaf3;
$blog-font-color:#838b8c;
$blog-bg-color: #e4edef;
$contact-brd-color: #e1eaec;
$footer-color: #262829;
$footer-nav-h-color: #e1e1e1;
