@import "normalize";
@import "fonts";
@import "variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a:visited {
  color: white;
}//костыляка дичь из нормалайза


@import "./common/common";
@import "./layouts/homepage";