@media screen and (max-width: 2560px) {
  .carousel-inner_header_position {
    top: 25vh;
  }
}

@media screen and (max-width: 1200px) {
  .project-column_left, .project-column_right {
    margin: 20px auto;
  }

  .big_quote {
    left: 10%;
    width: 10%;
    height: 10%;
  }

  .newsletter_wr {
    display: block;
  }

  .footer_input {
    margin-bottom: 8%;
  }

  .c-text__copy {
    text-align: center;
  }
  .social_nav {
    margin: 0 auto;
  }

  .subscribe-block {
    margin-bottom: 5%;
  }

  .blog-post-block {
    display: block;
    margin: 0 auto 20px auto;
  }

  .footer-nav__wr {
    padding: 0;
  }
}

@media screen and(max-width: 1024px) {
  .carousel_header {
    font-size: 3em;
  }

  .industry-block {
    height: 50%;
  }

  .icon_wr {
    margin-top: 25%;
  }

  .connect-us__wr {
    margin: 0 auto 30px auto;
  }

  .c-header__connect {
    text-align: center;
  }

  .connect {
    margin: 0 auto 10px auto;
  }

}

@media screen and (max-width: 992px) {
  .nav-menu {
    width: 100%;
    display: none;
  }

  .carousel-inner_header_position {
    margin: 0;
  }

  .carousel_header {
    margin: 1% 0;
  }

  .nav-menu_li {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 5%;
  }
  .industry-block {
    width: 35%;
    margin-bottom: 2%;
  }

  .header_slider {
    margin-top: 10%;
  }

  .service-feature-block {
    display: block;
    width: 50%;
    margin: 0 auto 5% auto;
    text-align: center;
  }

  .feature-icon__wr {
    margin: 0 auto;
  }

  .small_quote {
    bottom: 24%;
    right: 10%;
  }

  .contact-block {
    margin: 0 auto 4% auto;
  }

  .site-logo__footer-logo-eg {
    display: block;
    margin: 0 auto;
  }

  .footer-nav__wr {
    display: block;
    margin: 4% auto 0 auto;
  }

  .newsletter_wr {
    margin: 0 auto;
  }

  .c-button__features-eg {
    float: none;
    margin: 10px auto 10px auto;
  }

  .c-text__features-stripe-eg {
    margin: 4% auto 1% auto;
  }

  .features-block {
    margin: 0 auto 20px auto;
    & > h3, div {
      text-align: center;
    }
    &:after {
      position: relative;
    }
  }

  .features-block_1, .features-block_2, .features-block_3, .features-block_4 {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }

    .features-block_img {
      display: block;
      margin: 0 auto 10px auto;
    }
  }

  @media screen and (max-width: 768px) {

    .carousel-inner_header_position {
      top: 25vh;
    }

    .carousel_message {
      font-size: 1.2em;
    }

    .industry-block {
      height: 50%;
    }

    .about {
      margin-top: 20vh;
    }

    .blog-post-block {
      width: 50%;
      height: 100%;
    }

    .blog_img {
      width: 100%;
      float: none;
    }

    .content_wr {
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    .projects__indicator{
      width:100px;
      padding-left:0;
    }

    .project-heading-block{
      height:auto;
    }

    .project_text{
      padding-bottom:20px;
    }
  }

  @media screen and (max-width: 766px) {
    .site-logo {
      display: block;
      margin: 0 auto;
    }

    .option_desc {
      font-size: 12px;
    }

    .carousel_message {
      margin: 0 0 1% 0;
    }

    .nav-menu_item {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 671px) {
    .c-header3__blog-heading {
      font-size: 1.4em;
    }

    .c-text__post-text {
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 596px) {
    .blog_img {
      float: none;
    }
    .content_wr {
      display: block;
    }
    .blog-content_wr {
      margin: 46px auto 0 auto;
    }
  }

  @media screen and (max-width: 590px) {

    .social_nav {
      width: 90px;
      margin: 0 auto;
    }
    .social_nav_li {
      margin: 0 auto 23px auto;
      display: block;
    }
    .social_nav_item {
      text-align: center;
    }
  }

  @media screen and (max-width: 425px) {
    .c-header3__footer-eg, .c-text__blog {
      text-align: center;
    }

    .c-button__footer-eg {
      display: block;
      margin: 20px auto 0 auto;
      position: relative;
    }

    .footer_input {
      display: block;
      margin: 0 auto;
      width: 280px;
    }

    .subscribe-block {
      display: block;
      margin: 0 auto 30px auto;
    }
  }

  @media screen and (max-width: 375px) {
    .footer-nav, .industry-nav {
      display: block;
      margin: 0 auto 20px auto;
    }
  }
}