@import "normalize";

.m-container {
  max-width: 1140px;
  width: 100%;
  padding: 0;
  display: block;
  margin: auto;
}

.site-header {
  background-color: black;
  background-image: url("./assets/public/images/header-bg.png");
  background-position: 40% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 435px;
  padding-top: 50px;
  &_branding {
    @include d-inline-b();
    float: left;
  }
  &_navigation {
    @include d-inline-b();
    clear: none;
    padding: 0 40px;
    width: auto;
  }
  &_contacts {
    @include d-inline-b();
    @include color_f-size(white, 15px);
    margin: 10px 0;
    float: left;
    &_phone {
      margin: 0 15px 0 10px;
    }
  }
}
.main-navigation li {
  margin: 10px 15px;
  a {
    @include color_f-size(white, 14px);
    &:hover {
      color: $c-orange;
      text-decoration: none;
    }
  }
}

.m-heading {
  @include color_f-size(white, 48px);
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
}

.site-title {
  @include d-inline-b();
}

.green-label{
  background-color: #16d428;
  margin-bottom: 36px;
}

.blog-content{
  &_content-heading{
    margin: 95px 0 36px 0;
  }
}

.item {
  max-width: 358px;
  padding: 30px 30px 60px 30px;
  @include d-inline-b();
  @include border(#ededef);
  cursor: pointer;
  font-size: 15px;
  &:hover{
    box-shadow: 0px 0px 53px 0px #ebebee;
  }
  &_p {
    margin-bottom: 79px;
    @include color_f-size(#838b8c, 15px);
  }
  &_share {
    @include d-inline-b();
  }
  &-label {
    min-width: 124px;
    @include width-height(auto, 31px);
    padding: 4px 15px;
    &_icon {
      background-image: url("/assets/public/images/quote-icon.png");
      @include width-height(15px, 13px);
      height: 13px;
      width: 15px;
    }
  }
  &_heading {
    margin-bottom: 37px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    a{
      color: $c-gray;
    }
  }
}

.m-cat-links {
  margin-right: 15px;
  text-transform: uppercase;
  a{
    color: white;
    font-weight: 400;
  }
}

.entry-date {
  margin-left: 10px;
  @include color_f-size($c-gray, 15px);
}

.main-navigation li {
  text-transform: uppercase;
}

.grid-item, .item {
  width: 358px;
  margin-bottom: 29px;
}

.wp-post-image{
  margin-left: -31px;
  margin-top: -97px;
  width: 100%;
}

.item-bg {
  width: 121%;
}

.m-blue-bg {
  background-color: #03b6e7;
}


.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  @include color_f-size($c-gray, 18px);
  font-weight: 700;
  text-decoration:none;
}

.navigation li {
  display: inline;
  border: 2px solid #97aaaf;
  @include border-radius(50%);
  padding: 20px;
}
.navigation li.active {
  border-color: $c-orange;
}

.m-pagination-container {
  margin: 78px auto;
  .navigation {
    display: inline;
    text-align: center;
  }
}