.projects-page{
  &_item-bg {
    @include width-height(545px, 265px);
    overflow: hidden;
    margin-top: -10px;
    .wp-post-image {
      margin-left: 0;
      margin-top: 0;
      width: 100%;
    }
  }

  &_item-label {
    @extend .item-label;
    min-width: 110px;
    border-radius: 100px;
    color: white;
    margin: 20px;
    padding: 9px 0 9px 15px;
    position: absolute;
    z-index: 20;
  }

  &_post {
    display: block;
    opacity: 0;
    margin: -390px auto 100px auto;
    padding: 80px 60px;
    @include color_f-size(#cccccc, 15px);
    @include width-height(100%, 265px);
    z-index: 10;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1s;
    &:hover{
      opacity: 1;
      transition: 1s;
    }
  }
}

.m-orange-label {
  background-color: #ffac55;
}

.grid-projects-item {
  @extend .projects-page_item-bg;
  display: inline-block;
  margin-bottom: 100px;
  height: auto;
}

.project-ref {
  @include width-height(38px, 38px);
  @include color_f-size(white, 25px);
  display: inline-block;
  font-weight: 700;
  text-align: center;
  z-index: 20;
  float: right;
  margin: -50px 20px 0 0;
  position: relative;
}