.projects-page{
  &_item-bg {
    @include width-height(545px, 265px);
    .wp-post-image {
      margin-left: 0;
      margin-top: -72px;
      width: 100%;
    }
  }

  &_item-label {
    @extend .item-label;
    min-width: 110px;
    border-radius: 100px;
    color: white;
    margin: 20px;
  }

  &_post {
    display: block;
    margin: -180px auto 100px auto;
    @include color_f-size(#cccccc, 15px);
    width: 450px;
  }
}

.m-orange-label {
  background-color: #ffac55;
}

.grid-projects-item {
  @extend .projects-page_item-bg;
  display: inline-block;
  margin-bottom: 100px;
}

.project-ref {
  @include width-height(38px, 38px);
  @include color_f-size(white, 25px);
  display: inline-block;
  font-weight: 700;
  text-align: center;
  float: right;
  margin: -50px 20px 0 0;
  position: relative;
}